@import './inter';
@import './reset';
@import './var';
@import './header';
@import './jumb';
@import './learn';
@import './sylla';
@import './think';
@import './wedo';
@import './footer';

.mcta {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }

  z-index: 15000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;

  .footer__button {
    display: flex;
    justify-content: space-around;
  }
}



.carousel-item {
  display: none;

  &.active {
    display: block;
  }
}


.testimonial {
  &-title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
    text-align: center;
    margin-top: 133px;
    margin-bottom: 158px;
  }

  &-slider {}

  &-area {
    background: #00E1AB;
    display: flex;
    flex-direction: column;
    // padding-left: 55px;
    // padding-right: 95px;
    @include interpolate('padding-right', 600px, 15px, 900px, 95px, 'ease-in');
    @include interpolate('padding-left', 600px, 15px, 900px, 55px, 'ease-in');

    &-image {
      display: inline;

      img {
        width: 100%;
        background-blend-mode: normal;
        box-shadow: 0px 28px 40px rgba(12, 45, 66, 0.2);
        border-radius: 8px;
        position: relative;
        top: -57px;
      @include interpolate('top', 600px, -20px, 900px, -57px, 'ease-in');
      }
    }

    &-content {
      padding-left: 70px;
      padding-top: 98px;
      padding-bottom: 114px;


      @include interpolate('padding-left', 600px, 64px, 900px, 70px, 'ease-in');
      @include interpolate('padding-top', 600px, 40px, 900px, 98px, 'ease-in');
      @include interpolate('padding-bottom', 600px, 40px, 900px, 114px, 'ease-in');

      p {
        font-family: var(--font);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #000000;

        strong {
          display: block;
          margin-top: 24px;
          font-family: var(--font);
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          color: #000000;

          &:before {
            content: "-";
            display: inline-block;
          }
        }
      }
    }
  }
}


.carousel {
  position: relative;
}

.carousel-control {
  position: absolute;
  bottom: -32px;
  right: 42px;

  &-prev-icon {
    transform: rotate(180deg);
  }

  &-prev-icon,
  &-next-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: #0852ED;
    border-radius: 80px;
  }

  &-prev {}

  &-next {}
}
