@import './inter';
@import './reset';
@import './var';
@import './header';
@import './jumb';
@import './learn';
@import './sylla';
@import './think';
@import './wedo';
@import './footer';

.mcta {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }

  z-index: 15000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;

  .footer__button {
    display: flex;
    justify-content: space-around;
  }
}
